.app__body{
	display: flex;  
	position: relative;
	padding: 30px 10px 10px 0;
	top: 56px; 
	background-color: #f1f2f5; 
}

body{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	background-color: #f1f2f5; 
	font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif; 
}