@import "mixins";
.login {
	@include displayCenter();
	align-items: flex-start;
	padding-top:145px;
}



.login__form {
	flex:0.3;
	display: flex;
	flex-direction: column;
	
	div {
		background-color: white; 
		box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
		box-sizing: border-box;
		border-radius: 8px;
		padding:20px;  
	}

	span { 
		margin:20px 0;
		align-self: center; 

		a{
			text-decoration: none;
			color:black;
			font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
			font-size: 14px;
			font-weight: 600;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	form { 
		flex-direction:column; 
		
		display: flex;

		a {
			align-self: center;
			text-decoration: none;
			color:#1877f2;
			margin: 15px 0;
			font-size:14px;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}


		input {
			 margin-bottom:20px;
			 border:1px solid lightgray;
			 color:gray;
			 font-size:16px;
			 font-weight:lighter;
			 padding:15px;
			 border-radius:6px;  
		}

		.login__button, .login__button:hover { 
			background-color: #2e81f4;
			color: white;
			font-weight: 600;
			text-transform: none; 
			font-size:18px;  
		} 

		.login__button--create, .login__button--create:hover {
			color:white;
			background-color: #42b72a;
			margin: 0 80px;
			padding:10px 0;
			border-radius: 8px;
			text-transform: none;
			font-weight: bold;
			font-size: 16px;
		}

		hr {  
			width:100%; 
			height:1px;
			border-width:0;
			color:lightgray;
			background-color:lightgray; 
			margin-bottom: 20px ;
		}
	}
}

.login__logo {
	flex:0.42;
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	align-items: flex-start; 

	img {
		height: 106px; 
		margin: 28px 0 -10px -28px;
	}

	span { 
		font-weight: 500;
		font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
		font-size: 28px; 
		line-height: 32px;
		width: 500px;
	} 
} 