@import "mixins";
@import "variable";

.messageSender{ 
	margin-top: 30px;
	flex-direction: column;
	background-color: white;
	border-radius: 15px;
	@include box(); 

	hr {
		@include hr(0); 
	}
}

.messageSender__top {
	display: flex; 
	padding: 15px 15px 10px 15px;

	form{
		display: flex;
		flex: 1;

		input{
			/*outline-width: 0;*/
			outline: none;
			border: none;
			padding: 5px 20px;
			margin: 0 10px;
			border-radius: 20px;
			background-color: #eff2f5;
			font-size:20px; 
			font-family: inherit;
		}

		button {
			display: none;
		}
	}
}
  
 

 

.messageSender__input {
	flex: 1;
}

.messageSender__bottom{
	display: flex;
	justify-content: space-evenly; 
	padding:0 10px; 
} 
.messageSender__option {
	padding: 10px;
	flex:1;
	display: flex;
	align-items: center;
	justify-content: center; 
	color: gray;
	margin: 5px 0;
	cursor: pointer;

	

	span {
		font-size: medium;
		margin-left: 10px;
		font-weight: 500;
		 
	}

	&:hover  {
		background-color: #eff2f5;
		border-radius: 10px;
	}
}
 