@import "variable";

@mixin displayCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
} 

@mixin hr(){
	width:100%; 
			height:1px;
			border-width:0;
			color:lightgray;
			background-color:lightgray; 
			margin-bottom: 20px ;
}

@mixin box(){
	box-shadow: 0 1px 2px $shadow_color;
	width: 65%; 
}