@import "variable";

@mixin displayCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
} 

@mixin hr($mb:20px){
	width:100%; 
	margin-bottom: $mb;

	@if $mb == 0 {
		width:95%;
		margin-bottom: 0;
	} 
	height:1px;
	border-width:0;
	color:lightgray;
	background-color:lightgray; 
}

@mixin box(){
	box-shadow: 0 1px 2px $shadowColor;
	width: 65%; 
}

@mixin avatar($size:30px){

		width:$size;
		height:$size;
		border-radius: $size; 
}