@import "mixins";
@import "variable";

.post{
	width: 100%;
	margin-top: 15px;
	border-radius: 15px;
	background-color: white;
	@include box();
}

.post__top{
	display: flex;
	position: relative;
	align-items: center;
	padding:   15px;
}

.post__avatar {
	margin-right: 15px;
}

.post__topInfo > span {
	font-size: medium; 
}

.post__topInfo__date{
	font-size: 12px !important;
	color: gray;
}

.post__bottom {
	margin: 10px 0;
	padding: 0 15px;
}

.post__image > img {
	width: 100%;
}

.post__options { 
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: space-evenly;
	font-size: medium;
	color: gray;
	cursor: pointer;
	padding: 10px;
}

.post__option {
	display: flex;
	align-items: center;
	justify-content: center; 
	flex: 1;

	p {
		margin-left: 10px;
	}
	&:hover {
		background-color: #eff2f5;
		border-radius: 10px;
	}
}
 
 