@import "mixins";
@import "variable";

.post{
	width: 100%;
	margin-top: 15px;
	border-radius: 15px;
	background-color: white;
	@include box();

	hr {
		@include hr(0); 
	}
}

.post__top{
	display: flex;
	position: relative;
	align-items: center;
	padding:   15px;
}

.post__avatar {
	margin-right: 15px;
}

.post__topInfo > span {
	font-size: medium; 
}

.post__topInfo__date{
	font-size: 12px !important;
	color: gray;
}

.post__message {
	margin: 5px 0;
	padding: 0 15px;
}

.post__image > img {
	width: 100%; 
}

.post__options {  
	display: flex;
	justify-content: space-evenly;
	font-size: medium;
	color: gray;
	cursor: pointer;
	padding: 5px 10px;
	height:40px;
}

.post__option {
	@include displayCenter();
	height:25px;
	padding:5px;
	flex:1;

	span {
		margin-left: 10px;
	}
	&:hover {
		background-color: #eff2f5;
		border-radius: 5px;
	}
}

.post__like {
	padding:10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		display: flex; 
		align-items: center;
		span {
			margin-left:10px;
		}
	}
}

.post__like--left {  
	img {
		@include avatar(20px);
	} 
}

.post__like--right {  
	span:hover {
		text-decoration: underline;
		cursor: pointer;
	} 
}
 
 