.sidebarRow{
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer; 

	img{
		width:30px;
		height:30px;
		border-radius: 30px;
	}
}

.sidebarRow:hover {
	background-color: lightgray;
	border-radius: 10px; 
	transition: background-color 500ms ease;
}

.sidebarRow > span {
	margin-left:20px;
	font-size: .9375rem;
	font-weight: 500;
}   

.sidebarRow > .MuiSvgIcon-root {
    font-size: x-large;
    color: #2e81f4;
}