@import "mixins";

.sidebarRow{
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer; 

	img{
		@include avatar();
	}

	span {
		margin-left:20px;
		font-size: .9375rem;
		font-weight: 500;
	}  

	.MuiSvgIcon-root {
	    font-size: x-large;
	    color: #2e81f4;
	} 

	&:hover {
		background-color: lightgray;
		border-radius: 10px; 
		transition: background-color 500ms ease;
	}
} 
 