.sidebarRow{
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer; 
}

.sidebarRow:hover {
	background-color: lightgray;
	border-radius: 10px;
}

.sidebarRow > span {
	margin-left:20px;
	font-size: .9375rem;
	font-weight: 500;
}   

.sidebarRow > .MuiSvgIcon-root {
    font-size: x-large;
    color: #2e81f4;
}