@import "mixins";

.sidebar{
	padding: 0 10px;
	flex: 0.2;
	position: sticky; 
	top:76px;
	height: calc(100vh - 209.53px);
	overflow:hidden;

	&:hover { 
		overflow-y: scroll;
	}

	hr {
		@include hr(0);
	}
}