.app{
	background-color: #f1f2f5; 
	position: absolute; 
	left: 0;
    right: 0;   
    top: 0;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

.app__body{
	display: flex;  
	position: relative;
	padding: 30px 10px 10px 0;
	top: 56px; 
	background-color: #f1f2f5; 
}